*
{
    padding: 0;
    margin: 0;
}

body {
    padding-bottom: 100px;
}
.clear-fix:before,.clear-fix:after {
    content: "";
    display: table;
}

.clear-fix:after {
    clear: both;
}

.clear-fix {
    *zoom: 1;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}
.warp {
    width: 100%;
    border: 1px solid transparent;
    padding-bottom: 1%;
}

.box {
    background-color: #D86C01;
    padding: 16%;
    margin: 1% 0 0 1%;
    float: left;
    border-radius: 5%;
}
#button {
    width: 400px;
    margin: 0 auto;
}
button {
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    padding: 0 50px;
    border: none;
    background-color: #D86C01;
}