.m-wrap {
  max-width: 640px;
  margin: 0 auto;
  background-color: #29bde0;
  padding-bottom: 1rem;
}
.g-bd-header_icon {
  display: block;
  margin: 0.6rem auto;
}
.m-hd {
  border-bottom: 1px solid #74d4eb;
}
#g-bd_explan {
  padding-bottom: 0.7rem;
  border-bottom: 1px solid #74d4eb;
  text-align: center;
}
#g-bd_explan p {
  font-size: 0.25rem;
  color: white;
  line-height: 0.35rem;
}
.g-bd-foot {
  text-align: center;
}
.g-bd-foot p {
  margin: 0.2rem auto 0 auto;
  width: 4.2rem;
  border-radius: 1rem;
  background-color: #24a7c6;
  line-height: 0.6rem;
  font-size: 0.3rem;
  color: white;
}
footer {
  position: fixed;
  bottom: 0;
  max-width: 640px;
  height: 1rem;
  text-align: center;
}
footer .u-btn_start {
  margin-left: 0.4rem;
  display: inline-block;
  width: 4.9rem;
  line-height: 0.9rem;
  font-size: 0.4rem;
  text-align: center;
  color: white;
  background-color: #fbb435;
}
