body {
  background-color: #ccc;
  color: #333;
  margin: 10px 10%;
}
ul li {
  float: left;
  padding: 10px;
}
img {
  display: block;
  clear: both;
}
#description {
  margin-top: 10px;
  font-size: 20px;
  text-align: left;
}
ul {
  margin-top: 20px;
  padding-bottom: 40px;
  margin-left: -10px;
  overflow: hidden;
}
ul img {
  width: 200px;
  line-height: 100px;
}
